body {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.5;
  cursor: default;
  background-color:#EBDECC;
}


#text{
  width:60%;
  margin-left:20%;
  margin-top: 7%;
  margin-bottom: 100px;
  text-align: center;
  margin:auto;
  color:#34495e;
}

h1{
    color: #D2B48C;
    text-shadow: 1px 1px 0 #34495e;
    bottom: 100%;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
}

.bold{
  font-weight: bold;
  color:#34495e;
}

.bolditalic{
  font-weight: bold;
  font-style: italic;
  color:#34495e;
}

#container{
  padding-right: 10px;
  padding-top: 30px;
  margin-bottom:100px;
  overflow:auto;
  margin:auto;
}

#philContainer{
  padding-right: 10px;
  padding-top: 30px;
  margin-bottom:100px;
  overflow:auto;
}

#image{
  background: url(images/almonds.png);
  height:125px;
  position: fixed;
  bottom: 70px;
  left: 0;
  zoom:80%;
  width: 100%;
}

/*#almonds{
 background: url(images/almondheart.png);
  height:100%;
  zoom:80%;
  width:100%;
  float:left;
  margin-top: -64px;
}*/


#textContact{
  width:60%;
  margin:10%;
  margin-left:20%;
  margin-top: 7%;
  text-align: center;
  border-radius: 6px;
  text-shadow:1px 1px 0 #34495e;
}


.contact{
  font-size: 2em;
  /*color:white;*/
  color:#D2B48C;
  text-decoration: none;
}



#productcontainer{
  padding-top: 10px;
  overflow:auto;
  margin-bottom:100px;
 /* margin: auto;*/
}

/*css for new picture*/
/*@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);*/
figure.snip1212 {
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 20px calc((100% - 930px)/6);
  height:180px;
  color:#34495e;
}

figure.snip1212 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

figure.snip1212 img {
  max-width: 100%;
  width:310px;
}

figure.snip1212 figcaption {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  z-index: 1;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

figure.snip1212 h2,
figure.snip1212 p {
  margin: 0;
  width: 100%;
  padding: 10px 20px;
}

figure.snip1212 h2 {
  color: white;
  text-shadow:1px 1px 0 #696969;
  position: absolute;
  bottom: 100%;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
}

figure.snip1212 p {
  background: rgba(255, 255, 255, 0.9);
  text-align: right;
  bottom: 0;
  font-size: 0.8em;
  font-weight: 500;
}


figure.snip1212:hover img,
figure.snip1212.hover img {
  opacity: 0.4;
}

figure.snip1212:hover figcaption,
figure.snip1212.hover figcaption {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/*end css for new picture*/


#footer{
/*  height:70px;*/
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: white;
}

a {
  color: b8a997;
}

a:hover{
  text-decoration: underline;
}

#logo{
  background-image: url(images/whitelogo_test.jpg);
  float:left;
  background-size: cover;
  width:120px;
  height:60px;
  margin: 0px 10px 0px 20px;
}

 /* font-family: adelle;
  font-size: 14px;*/

.snip1211 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: left;
  float: left;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.snip1211 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1211 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1.5em;
  padding: 0;
}
.snip1211 a {
  padding: 0.3em 0;
  color: #D2B48C;
  position: relative;
  text-decoration: none;
}
.snip1211 a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  top: 25%;
  bottom: 25%;
  left: 0;
  right: 0;
  border-top: 3px solid #34495e;
  border-bottom: 3px solid #34495e;
}
.snip1211 a:hover,
.snip1211 .current a {
  color: #D2B48C;
}
.snip1211 a:hover:before,
.snip1211 .current a:before {
  opacity: 1;
  top: 0;
  bottom: 0;
}

li{
  font-family: Helvetica;
  font-style: italic;
  font-weight: lighter;
  font-size: 1.2em;
  display:inline;
  padding-right:15px;
  padding-left: 15px;
  float:left;
}

 li a {
  text-decoration: none;
}

.submenu{
  display:none;
  font-style: normal;
  font-size: 40px;
  float: right;
  margin-right: 10px;
  color: #D2B48C;
}


#instagram{
  background-image: url(images/instagram.png);
  float:right;
  background-size: cover;
  width:30px;
  height:30px;
  margin:15px 20px 0px 10px;
}

#blog{
  background-image: url(images/blog.png);
  float:right;
  background-size: cover;
  width:30px;
  height:30px;
  margin:15px 10px 0px 10px;
}


.bold{
  font-weight: bold;
}


@media screen and (max-width: 960px){
  figure.snip1212 {
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 20px calc((100% - 620px)/4);
  height:180px;
  color: #000000;
  }
}


@media screen and (max-width: 790px){

  .submenu {
    display: block;
  }

  .nav{
    display:none;
  }

  #instagram{
    display:none;
  }

  #blog{
    display:none;
  }

  .nav{
    position:absolute;
    bottom:3.25em;
    right:.5em;
    width:100%;
  }

  .snip1211 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0em 1.5em;
  padding: 0;
  }

  .nav li{
    display:block;
    background-color: white;
    width:100%;
    text-align: center;
    padding:5px 0px 5px 0px;
    border-bottom: 1px solid #F5F5DC;
  }

  #image{
    display:none;
  }

   figure.snip1212 {
    color: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 20px calc((100% - 310px)/2);
    height:180px;
    color: #000000;
    }
}